{% extends 'swsm/usersetting_base.html' %}

{% block rightcontent %}
<div class="row">
  <h4>■ お気に入り設定</h4>
  {% if formset.total_error_count > 0 %}
  <div>
    ★ エラーが {{ formset.total_error_count }} 箇所あるようです。
  </div>
  <div>
    {{ formset.non_form_errors }}
  </div>
  <div class="w-100"></div>
  <hr>
  {% endif %}

  <div class="col-auto">
    <form method="POST">
      {{ form.non_field_errors }}
      {{ formset.management_form }}
      {% csrf_token %}
      <table class="table table-sm">
	<thead>
	  <tr>
	    <th class="text-center">削除</th>
	    <th>名前</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for form in formset %}
	  <tr>
	    <td class="align-middle text-center">
	      {{ form.DELETE }}
	      {{ form.DELETE.errors }}
	    </td>
	    <td>
	      {{ form.name }}
	      {{ form.name.errors }}
	    </td>
	    <td>
	      {{ form.id }}
	      {{ form.id.errors }}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>

      <div class="btn-group">
	<button class="btn btn-primary text-nowrap ms-1" type="submit" name="us_submit" value="ok">更新</button>
	<button class="btn btn-secondary text-nowrap ms-1" type="reset">リセット</button>
	<a class="btn btn-secondary text-nowrap ms-1" href="{% url 'swsm:home' %}">キャンセル (ホームへ)</a>
      </div>
    </form>
  </div>
  <div class="col">
    <ul>
      <li>同じ名前の複数登録はできない。(仕様)</li>
      <li>全部削除すると「お気に入り」という名前を一つ自動登録する。(仕様)</li>
      <li>表示順序は基本、辞書順にソートされる。</li>
      <li>リソースが許す限り際限無く増やせるけど、ほどほどにしようね？</li>
      <li>項目を削除するには削除チェックを入れる。
	名前を消すだけだとエラーになる。(未解決)</li>
    </ul>
  </div>
</div>
{# コメント #}
{% endblock %}
