{% extends 'swsm/base.html' %}

{% block menubar %}
{% with with_workstatus=True %}
{% include 'swsm/includes/menubar.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="row">
  {% if form.errors %}
  <h4>エラーがあるようです。ご確認ください。</h4>
  <div class="col-12 border border-primary m-3">
    {{ form.errors }}
  </div>
  <div class="w-100"></div>
  {% endif %}

  <div class="col-auto">
    <form method="POST">
      {{ form.non_field_errors }}
      {% csrf_token %}
      <table class="table table-sm">
	<tbody>
	  {% for field in form %}
	  <tr>
	    {% if field.is_hidden %}
	    <td id="div_{{ field.id_for_label }}">
	      {{ field }}
	      {{ field.errors }}
	    </td>
	    <td></td> <td></td>

	    {% elif field.field.widget.input_type == 'checkbox' %}
	    <td colspan="2">
	      <div class="form-check form-switch">
		<label for="{{ field.id_for_label }}"
		       class="form-label">{{ field.label }}</label>
		{{ field }}
		{{ field.errors }}
	      </div>
	    </td>
	    <td>
	      {% if field.help_text %}
	      <span class="helptext">{{ field.help_text }}</span>
	      {% endif %}
	    </td>

	    {% else %}
	    <td>
	      <label for="{{ field.id_for_label }}"
		     class="form-label">
		{{ field.label }}
	      </label>
	    </td>
	    <td>
	      {{ field }}
	      {{ field.errors }}
	    </td>
	    <td>
	      {% if field.help_text %}
	      <span class="helptext">{{ field.help_text }}</span>
	      {% endif %}
	    </td>
	    {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>

      <div class="btn-group">
	<button class="btn btn-primary text-nowrap ms-1" type="submit" name="us_submit" value="ok">登録</button>
	<button class="btn btn-secondary text-nowrap ms-1" type="reset">リセット</button>
	<a class="btn btn-secondary text-nowrap ms-1" href="{% url 'swsm:home' %}">キャンセル (ホームへ)</a>
      </div>
    </form>
  </div>
</div>
{# コメント #}
{% endblock %}

{% block extrajs %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.js"></script>
<script>
  $(function () {
      // timedropper
      $("#id_s_time, #id_e_time").timeDropper({
          format: "HH:mm",
          setCurrentTime: false,
      });
  });
</script>
{% endif %}
{% endblock %}
